{% extends 'base.html' %}
{% load static %}

{% block 'seo' %}
{% endblock %}

{% block 'title' %}
{% endblock %}

{% block 'content' %}
    <div class="container-fluid">
        <section class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <form action="" method="GET">
                        <div class="form-group">
                            <label for="date">Выберите Дату</label>
                            <input type="date" id="date" name="date" class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <label for="city">Выберите Город</label>
                            <select name="city" id="city" class="form-select" requried>
                                <option value="Almaty">Алматы</option>
                                <option value="Astana">Астана</option>
                                <option value="Semey">Семей</option>
                            </select>
                        </div>
                        <div class="form-group mt-2">
                            <label for="price" class="form-label">Цена</label>
                            <input type="range" class="form-range" min="0" max="100000" id="price" name="price">
                        </div>
                        <button type="submit" class="btn w-100 btn-outline-dark">Найти</button>
                    </form>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-10">
                    <h3>Концерты</h3>
                    <div class="row">
                        {% for event in events %}
                        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                            {% include 'blocks/event_card.html' %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}