{% extends 'base.html' %}
{% load static %}

{% block 'seo' %}
{% endblock %}

{% block 'title' %}
{% endblock %}

{% block 'content' %}
    <div class="container-fluid">
        <section class="" name="new">
            {% include 'components/carousel.html' %}
        </section>
        <section class="container" name="popular">
            <h3 class="text-center">Популярное</h3>
            <div class="row">
                {% for event in events %}
                <div class="col-6 col-sm-6 col-md-3">
                    {% include 'blocks/event_card.html' %}
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="container" name="interesting">
            <h3 class="text-center">Интересное</h3>
            {% include 'components/carousel_with_caption.html' %}
        </section>
        <section class="container" name="recomendation">
            <h3 class="text-center">Рекомендуем</h3>
            <div class="row">
                {% for event in events %}
                <div class="col-6 col-sm-6 col-md-3">
                    {% include 'blocks/event_card.html' %}
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="container" name="other">
            <h3 class="text-center">Другое</h3>
            {% include 'components/carousel_with_caption.html' %}
        </section>
    </div>
{% endblock %}